#bordasimples {
    border-collapse: collapse;
}

.bordasimples{
    border:1px solid #FF0000;
}

div.borda{
    border: 0 auto;
}

body{
    margin: 0;
    padding: 0px;
}
.text-centro{
    text-align: center;
}
#divcentro, #rodape{
    padding: 4px 0px;
}

#divcentro{
    position: absolute;
    left: 20%;
    right: 20%;
    top: 20%;
    bottom: 15%;
}

#corpo{
    height: 80%;
    float: center;
}

.divcentro{
    float: center;
}

fieldset {
    border: 0;
}
input[type=text]{   
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    box-shadow: 1px 1px 2px #333333;    
    -moz-box-shadow: 1px 1px 2px #333333;
    -webkit-box-shadow: 1px 1px 2px #333333;
    background: #cccccc; 
    border:1px solid #000000;
    width:150px
}
input[type=password]{   
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    box-shadow: 1px 1px 2px #333333;    
    -moz-box-shadow: 1px 1px 2px #333333;
    -webkit-box-shadow: 1px 1px 2px #333333;
    background: #cccccc; 
    border:1px solid #000000;
    width:150px
}

 
textarea{
    border: 1px solid #000000;
    background:#cccccc;
    width:150px;
    height:100px;
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    box-shadow: 1px 1px 2px #333333;    
    -moz-box-shadow: 1px 1px 2px #333333;
    -webkit-box-shadow: 1px 1px 2px #333333;
}
 
input[type=password]:hover, textarea:hover{ 
         background: #ffffff; border:1px solid #990000;
}
 
input[type=text]:hover, textarea:hover{ 
         background: #ffffff; border:1px solid #990000;
}
 
input[type=submit]{
        background:#006699;
        color:#ffffff;
}

input[type=reset]{
        background:#006699;
        color:#ffffff;
}